.Container_middle
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.dob{
    margin-top: 25px;
}
.left
{
    width: 500px;
    background-color:#EEF1F6; 
    border-radius: 2em;
     
}
.Container_middle_para
{
    display: flex;
    align-items: center;
    justify-content: center;
}